APP_NAME=echo-handle
APP_ENV=dev
DATA_DIR=../Data
PROCESSED_DATA_DIR=../Data
ECHO_DATA_DIR=../echo_data
HANDLE_DB_PATH=../echo_data/handle.db
MODEL_ZOO_DIR=../modelZoo
KIM_MODEL_PATH=../modelZoo/Kim_Vocal_2/Kim_Vocal_2.onnx
PUBLIC_BASE_URL=http://127.0.0.1:8000
STATIC_MOUNT_PATH=/static
FFMPEG_BIN=../_internal/ffmpeg/bin/ffmpeg.exe
FFPROBE_BIN=../_internal/ffmpeg/bin/ffprobe.exe
ARRANGEMENT_BASE_URL=http://localhost:8081
ARRANGEMENT_CALLBACK_TIMEOUT_SECONDS=10
INSTRUMENTAL_MAX_CONCURRENCY=1
